<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="backgroundImage">
    <div class="container">
        <div class="row">
            <div class="navbar navbar-fixed-top navbar-inverse">
                <div class="navbar-header">
                    <img src="~/Images/56987637@N03.jpg" class="img-responsive" />
                </div>

            </div>
        </div>
    </div>
    <div class="container" id="content">

        @RenderBody()

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="container">
        <footer class="navbar navbar-inverse navbar-fixed-bottom footer">
                <div class="navbar-brand">
                    Nolo Nashville
                </div>
        </footer>
    </div>

</body>
</html>
